/*Nav Bar*/

.cityNavBar{
  background-color: #213A40 !important;
  color: #F2B56B !important;
}

.logo{
  max-height: 5vh;
}

.btn-user{
  position: relative !important;
  right: 0 !important;
}

/*Carousel*/

.carousel{
  max-height: 95vh;
  margin-bottom: 20vh;
  padding-bottom: 4vh;
}

/*Cards*/

#card{
  justify-content: center;
}